[submodule "video_crawler"]
	path = video_crawler
	url  = https://github.com/qzh200/video-crawler-ai

[submodule "bilibili_data_pipeline"]
	path = bilibili_data_pipeline
	url  = https://gitee.com/chunyu-jushi/bilibili_data_pipeline

[submodule "bilibili_ai_dify"]
	path = bilibili_ai_dify
	url  = https://gitee.com/NH3CH2COOH/hrbust-dify-re
